{% extends "base.html" %}

{% block content %}
    <header><h1>Create Alerts</h1><small class="form-text text-muted">Look up Item</small></header>
    <section class="create-alert-form">
        <form method="post">
            <div class="form-group">
                <label for="item_url">Enter Your URL To Search</label>
                <input type="text" class="form-control" id="item_url" name="item_url" />
            </div>


            <div class="form-group">
                <label for="price_limit">Set Your Price limit</label>
                <input type="text" class="form-control" id="price_limit" name="price_limit" placeholder='120' aria-describedby="priceLimitHelp" />
                <small id="priceLimitHelp" class="form-text text-muted">
                    Let's set that Price Alert!
                </small>
            </div>
            <button type="submit" class="btn btn-warning">Create Me!</button>

        </form>
    </section>
{% endblock %}